[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

nav {
    /* margin-top: 1rem; */
    box-shadow: 0 3px 5px -4px rgba(0, 0, 0, 0.3);
}
.view {
    margin-top: 10px;
}