<h3 class="text-center text-uppercase">List of weight entries</h3>

<div class="col-sm-6 offset-sm-3">
    <select class="custom-select mb-2" id="person" ng-model="listWeightsCtrl.filterValue" required>
        <option value="" selected>Select person</option>
        <option ng-repeat="(id, name) in listWeightsCtrl.users" value="{{id}}">{{name}}</option>
    </select>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Date</th>
            <th scope="col">Weight Recorded</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="record in listWeightsCtrl.dataSet | filter: listWeightsCtrl.filterValue" data-user-id="{{record.userId}}">
            <th scope="row">{{$index + 1}}</th>
            <td>{{record.name}}</td>
            <td>{{record.date | date:'yyyy-MM-dd'}}</td>
            <td>{{record.weight}} KGs</td>
        </tr>
    </tbody>
</table>